@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --cor-principal: #889C9B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
}

/* Header */
header {
    background-color: var(--cor-principal);
}

header .container img {
    height: 230px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1176px;
    height: 86px;
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.596);
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background-color: rgb(145, 184, 185);
}


/* Main */
main {
    margin-bottom: 100px;
    color: rgb(255, 255, 255, 0.596);
}

main .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

main .container-main h2 {
    color: rgba(0, 0, 0, 0.884);
    font-size: 45px;
    font-weight: bold;
}

main .container-main img {
    height: 500px;
    width: 650px;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid var(--cor-principal);
    background-color: white;
}

form [type="submit"] {
    padding-left: 0;
    background-color: var(--cor-principal);
    color: white;
    background-color: var(--cor-principal);
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(120, 150, 151);
}

main .container-main img {
    width: 600px;
}

/* Cards */
.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    font-style: italic;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px black;
    transition: all 0, 3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.image img {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'EB Garamond', serif;
    color:  rgb(120, 150, 151);
    text-shadow: 0 0 2px rgb(69, 121, 134);
}