@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root{
    --cor-principal: #889C9B;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Noto Sans Mono', monospace;
}
/* Header */
header{
    background-color: var(--cor-principal);
}
header .Container. img{
    height:80px ; 
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}